<%= provide(:title, "About") %>
    <h1>About</h1>
    <p>

      <em>Private Events</em> is a site dedicated to connecting great people with great events.  Whether you need to promote your event, send out invitations, or manage your signup list, Private Events can help!
    </p>
